# Dependency folders
node_modules/
.next/
.env.local

# Python caches / virtual environments
__pycache__/
*.pyc
.env
.venv/

# Database / Cache
*.db
*.sqlite3
redis-data/
postgres-data/
.pytest_cache/

# Builds / Logs
*.egg-info/
dist/
.DS_Store
*.log
